@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); 

 
3 :root { 
4   --background: #282828; 
5   --light-background: #3c3836; 
6   --lighter-background: #504945; 
7   --dark-background: #3c3836; 
8   --darker-background: #1d2021; 
9   --foreground: #ebdbb2; 
10   --current-line: #504954; 
11   --comment: #928374; 
12   --white: var(--foreground); 
13   --white-hover: #f8f8f280; 
14   --red: #cc241d; 
15   --blue: #458588; 
16   --blue-hover: #83a598; 
17   --orange: #d65d0e; 
18   --orange-hover: #fe8019; 
19   --yellow: #d79921; 
20   --green: #98971a; 
21   --purple: #b16286; 
22   --purple-hover: #d3869b; 
23   --cyan: #689d6a; 
24   --cyan-hover: #8ec07c; 
25   --pink: #ff79c6; 
26   --pink-hover: #ff79c680; 
27 
 
28   --ls-tag-text-opacity: 0.8; 
29   --ls-tag-text-hover-opacity: 0.8; 
30   --ls-page-text-size: 16px; 
31   --ls-page-title-size: 36px; 
32   --ls-font-family: "Fira Code"; 
33   --ls-font-weight: 300; 
34   --ls-font-letter-spacing: 0.002em; 
35   --ls-font-line-height: 1.5; 
36 
 
37   --ls-border-radius-low: 3px; 
38   --ls-border-radius-medium: 6px; 
39 } 
40 /* Stretches content for visibility */ 
41 .cp__sidebar-main-content { 
42     max-width: 1400px !important; 
43 } 
44 /* Custom Tag emoji's */ 
45 /* STAR */ 
46 a.tag[data-ref="star" i]::before { 
47     content: "⭐"; 
48     visibility: visible; 
49     border-radius: 2px; 
50     padding: 2px; 
51     background: var(--blue); 
52     box-shadow: 0 0 4px var(--blue); 
53 } 
54 
 
55 a.tag[data-ref="star" i] { 
56     visibility: hidden; 
57     width: 24px; 
58     white-space: nowrap; 
59 } 
60 /* IDEA */ 
61 a.tag[data-ref="idea" i]::before { 
62     content: "💡"; 
63     visibility: visible; 
64     border-radius: 2px; 
65     padding: 2px; 
66     background: var(--blue); 
67     box-shadow: 0 0 4px var(--blue-hover); 
68 } 
69 
 
70 a.tag[data-ref="idea" i] { 
71     visibility: hidden; 
72     width: 24px; 
73     white-space: nowrap; 
74 } 
75 /* Documentation */ 
76 a.tag[data-ref="documentation" i]::before { 
77     content: "📝"; 
78     visibility: visible; 
79     border-radius: 2px; 
80     padding: 2px; 
81     background: var(--blue); 
82     box-shadow: 0 0 4px var(--blue-hover); 
83 } 
84 
 
85 a.tag[data-ref="documentation" i] { 
86     visibility: hidden; 
87     width: 24px; 
88     white-space: nowrap; 
89 } 
90 
 
91 .dark-theme, 
92 html[data-theme="dark"] { 
93   --ls-primary-background-color: var(--background); 
94   /*--ls-primary-background-color: var(--dark-background);*/ 
95   --ls-secondary-background-color: var(--dark-background); 
96   --ls-tertiary-background-color: var(--light-background); 
97   --ls-quaternary-background-color: var(--light-background); 
98   --ls-quinary-background-color: var(--darker-background); 
99 
 
100   --ls-active-primary-color: var(--foreground); 
101   --ls-active-secondary-color: var(--foreground); 
102 
 
103   --ls-primary-text-color: var(--foreground); 
104   --ls-secondary-text-color: var(--white-hover); 
105 
 
106   --ls-search-background-color: var(--background); 
107   --ls-border-color: var(--comment); 
108   --ls-secondary-border-color: var(--ls-border-color); 
109   --ls-menu-hover-color: var(--light-background); 
110   --ls-table-tr-even-background-color: var(--light-background); 
111 
 
112   --ls-head-text-color: var(--foreground); 
113   --ls-title-text-color: var(--foreground); 
114 
 
115   --ls-link-text-color: var(--orange); 
116   --ls-link-text-hover-color: var(--orange-hover); 
117 
 
118   --ls-link-ref-text-color: var(--orange); 
119   --ls-link-ref-text-hover-color: var(--orange-hover); 
120   --ls-block-ref-link-text-color: var(--ls-border-color); 
121 
 
122   --ls-tag-text-color: var(--blue); 
123   --ls-tag-text-hover-color: var(--blue-hover); 
124 
 
125   --ls-block-bullet-border-color: var(--current-line); 
126   --ls-block-bullet-color: var(--cyan); 
127   --ls-block-highlight-color: var(--current-line); 
128   --ls-block-properties-background-color: var(--light-background); 
129 
 
130   --ls-page-checkbox-color: transparent; 
131   --ls-page-checkbox-border-color: var(--comment); 
132 
 
133   --ls-page-blockquote-color: var(--foreground); 
134   --ls-page-blockquote-bg-color: var(--dark-background); 
135   --ls-page-blockquote-border-color: var(--purple); 
136 
 
137   --ls-page-inline-code-color: var(--orange); 
138   --ls-page-inline-code-bg-color: var(--darker-background); 
139 
 
140   --ls-scrollbar-background-color: var(--background); 
141   --ls-scrollbar-foreground-color: var(--darker-background); 
142   --ls-scrollbar-thumb-hover-color: var(--light-background); 
143 
 
144   --ls-icon-color: var(--white-hover); 
145   --ls-search-icon-color: var(--white-hover); 
146   --ls-a-chosen-bg: var(--light-background); 
147   --ls-right-sidebar-code-bg-color: var(--light-background); 
148   --ls-selection-background-color: var(--comment); 
149   --ls-slide-background-color: var(--ls-primary-background-color); 
150   --ls-guideline-color: var(--cyan); 
151 } 
152 
 
153 html, 
154 body { 
155   font-weight: var(--ls-font-weight); 
156   letter-spacing: var(--ls-font-letter-spacing); 
157   line-height: var(--ls-font-line-height); 
158   font-size: var(--ls-page-text-size); 
159   background-color: var(--darker-background) !important; 
160 } 
161 
 
162 i { 
163   color: var(--green); 
164 } 
165 
 
166 b { 
167   color: var(--red); 
168 } 
169 
 
170 del { 
171   color: var(--comment); 
172 } 
173 
 
174 u { 
175   color: var(--purple); 
176 } 
177 
 
178 mark { 
179   background-color: var(--yellow); 
180 } 
181 
 
182 .bg-orange-400 { 
183   background-color: var(--orange); 
184 } 
185 
 
186 .bg-green-600 { 
187   background-color: var(--green); 
188 } 
189 
 
190 .bg-red-500 { 
191   background-color: var(--red); 
192 } 
193 
 
194 .dark-theme .form-checkbox { 
195   border: 1px solid var(--ls-page-checkbox-border-color) !important; 
196   border-radius: var(--ls-border-radius-low) !important; 
197 } 
198 
 
199 .external-link { 
200   color: var(--cyan); 
201   text-decoration: none; 
202   border-bottom: none; 
203 } 
204 
 
205 .external-link:hover { 
206   color: var(--cyan-hover); 
207 } 
208 
 
209 h1.title, 
210 .ls-block h1, 
211 .ls-block h2, 
212 .ls-block h3, 
213 .ls-block h4, 
214 .ls-block h5, 
215 .ls-block h6 { 
216   font-weight: 400; 
217   color: var(--red); 
218 } 
219 
 
220 h1.title { 
221   color: var(--red); 
222 } 
223 
 
224 
 
225 .priority { 
226   color: var(--ls-tag-text-color); 
227   opacity: 1 !important; 
228 } 
229 
 
230 .priority:hover, 
231 a.tooltip-priority:hover { 
232   color: var(--ls-tag-text-hover-color); 
233   opacity: 0.5; 
234 } 
235 
 
236 a.tooltip-priority { 
237   color: var(--ls-tag-text-color); 
238 } 
239 
 
240 .Tooltip__label { 
241   background: var(--ls-quinary-background-color); 
242 } 
243 
 
244 .Tooltip__label::after { 
245   border-bottom-color: var(--ls-quinary-background-color); 
246 } 
247 
 
248 .page-reference .bracket { 
249   color: var(--ls-border-color); 
250   opacity: 0.8; 
251 } 
252 
 
253 .cp__right-sidebar-inner, .cp__right-sidebar-topbar, .cp__header, .cp__sidebar-main-layout { 
254   background-color: var(--background); 
255 } 
256 
 
257 .cp__right-sidebar .sidebar-item { 
258     border-top-color: var(--light-background); 
259  	background-color: var(--light-background); 
260 } 
261 
 
262 .CodeMirror { 
263   font-family: "Fira Code", "Nerd Font", monospace; 
264   line-height: 1.2; 
265   background: var(--darker-background) !important; 
266 } 
267 
 
268 .cm-s-default.CodeMirror, 
269 .cm-s-default .CodeMirror-gutters { 
270   background-color: transparent ; 
271   color: var(--white) !important; 
272   border: none; 
273 } 
274 
 
275 .extensions__code-lang { 
276   background: var(--light-background); 
277 } 
278 
 
279 .cm-s-default.CodeMirror { 
280   border: 5px solid var(--light-background); 
281 } 
282 
 
283 .cm-s-default .CodeMirror-gutters { 
284   color: var(--background); 
285 } 
286 .cm-s-default .CodeMirror-cursor { 
287   border-left: solid thin var(--white); 
288 } 
289 .cm-s-default .CodeMirror-linenumber { 
290   color: var(--comment); 
291 } 
292 .cm-s-default .CodeMirror-selected { 
293   background: rgba(255, 255, 255, 0.1); 
294 } 
295 
 
296 .cm-s-default .CodeMirror-line { 
297   box-shadow: none; 
298 } 
299 
 
300 .cm-s-default .CodeMirror-line::selection, 
301 .cm-s-default .CodeMirror-line > span::selection, 
302 .cm-s-default .CodeMirror-line > span > span::selection { 
303   background: rgba(255, 255, 255, 0.1) !important; 
304 } 
305 .cm-s-default .CodeMirror-line::-moz-selection, 
306 .cm-s-default .CodeMirror-line > span::-moz-selection, 
307 .cm-s-default .CodeMirror-line > span > span::-moz-selection { 
308    background: rgba(255, 255, 255, 0.1) !important; 
309 } 
310 .cm-s-default span.cm-comment { 
311   color: var(--comment); 
312 } 
313 .cm-s-default span.cm-string, 
314 .cm-s-default span.cm-string-2 { 
315   color: var(--yellow); 
316 } 
317 .cm-s-default span.cm-number { 
318   color: var(--purle); 
319 } 
320 .cm-s-default span.cm-variable { 
321   color: var(--green); 
322 } 
323 .cm-s-default span.cm-variable-2 { 
324   color: var(--white); 
325 } 
326 .cm-s-default span.cm-def { 
327   color: var(--green); 
328 } 
329 .cm-s-default span.cm-operator { 
330   color: var(--pink); 
331 } 
332 .cm-s-default span.cm-keyword { 
333   color: var(--pink); 
334 } 
335 .cm-s-default span.cm-atom { 
336   color: var(--purple); 
337 } 
338 .cm-s-default span.cm-meta { 
339   color: var(--white); 
340 } 
341 .cm-s-default span.cm-tag { 
342   color: var(--pink); 
343 } 
344 .cm-s-default span.cm-attribute { 
345   color: var(--green); 
346 } 
347 .cm-s-default span.cm-qualifier { 
348   color: var(--green); 
349 } 
350 .cm-s-default span.cm-property { 
351   color: var(--cyan); 
352 } 
353 .cm-s-default span.cm-builtin { 
354   color: var(--green); 
355 } 
356 .cm-s-default span.cm-variable-3, 
357 .cm-s-default span.cm-type { 
358   color: var(--orange); 
359 } 
360 
 
361 .cm-s-default .CodeMirror-activeline-background { 
362   background: rgba(255, 255, 255, 0.1); 
363 } 
364 .cm-s-default .CodeMirror-matchingbracket { 
365   text-decoration: underline; 
366   color: var(--white) !important; 
367 } 
368 
 
369 #right-sidebar pre.CodeMirror-line { 
370   background: transparent; 
371 } 
372 .cm-s-solarized.cm-s-dark { 
373 	color: var(--foreground); 
374     background-color: var(--dark-background) !important; 
375     text-shadow: var(--background) 0 1px; 
376 } 
377 .cm-s-solarized.cm-s-dark.CodeMirror ::selection { 
378     background: rgba(255, 255, 255, 0.1) !important; 
379 } 
380 .cm-s-solarized.cm-s-dark .CodeMirror-linenumber { 
381     color: var(--foreground); 
382     text-shadow: var(--background) 0 -1px ; 
383     background-color: var(--light-background) !important; 
384 } 
385 .CodeMirror-gutter, .CodeMirror-gutters { 
386     color: var(--foreground); 
387     text-shadow: var(--background) 0 -1px ; 
388     background-color: var(--light-background) !important; 
389 } 
390 .dark-theme code[class*="language-"], .dark-theme pre[class*="language-"] { 
391   word-wrap: break-word !important; 
392   white-space: pre-wrap !important; 
393 } 
394 mark.red {background-color: var(--red);} 
395 mark.orange {background-color: var(--orange);} 
396 mark.yellow {background-color: var(--yellow);} 
397 mark.green {background-color: var(--green);} 
398 mark.cyan {background-color: var(--cyan);} 
399 mark.blue {background-color: var(--blue);} 
400 mark.purple {background-color: var(--purple);} 
401 mark.pink {background-color: var(--pink);}